<form (ngSubmit)="addPaymentSubmit()" #addPaymentForm="ngForm">
  <div class="row">
    <div class="col-12 col-md-6">
      <label for="payments.amount">Amount</label>
      <input type="number" class="form-control" id="payments.amount" [(ngModel)]="payments.amount" name="payments.amount" required>
    </div>
   <div class="col-12 col-md-6">
      <label for="payments.paymentModeId">Payment Type</label>
        <select type="number" class="form-control" id="payments.paymentModeId" [(ngModel)]="payments.paymentModeId" name="payments.paymentModeId" required>
            <option *ngFor="let mode of paymentModes" [value]="mode.value">{{mode.title}}</option>
        </select>
    </div>
    <div class="col-12 col-md-6">
      <label for="payments.additionalDetails">Additional Details</label>
      <input type="text" class="form-control" id="payments.additionalDetails" [(ngModel)]="payments.additionalDetails" name="payments.additionalDetails" required>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <button type="submit" class="btn btn-primary float-right" [disabled]="!addPaymentForm.form.valid">Submit</button>
    </div>
  </div>
</form>