<table class="table">
        <thead>
            <tr>
                <th scope="col">Room Number</th>
                <th scope="col">Booking Start Date</th>
                <th scope="col">Booking End Date</th>
                <th scope="col">Amount</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let roomBooking of roomBookings">
                <td>{{roomBooking.roomNumber}}</td>
                <td>{{roomBooking.bookingStartDate}}</td>
                <td>{{roomBooking.bookingEndDate}}</td>
                <td>{{roomBooking.amount}}</td>    
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td>500</td>
            </tr>
        </tbody>
    </table>