<div class="row text-center" *ngIf="bookingCodeId != 0">
  <div class="col-12">
    <strong>{{bookingCodeToDisplay}}</strong>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <app-view-user [users]="users" (editButtonClicked)="editUser($event)" (deleteButtonClicked)="deleteUser($event)"></app-view-user>
  </div>
  <div class="col-12">
    <button type="button" class="btn btn-lg btn-outline-primary float-right" (click)="setBlankUser();openModal(userOperationContent)">Add
      User</button>
  </div>
</div>

<div class="row mt-3">
  <div class="col-12">
    <app-view-room-booking [roomBookings]="roomBookings" (editButtonClicked)="editRoomBooking($event)"
      (deleteButtonClicked)="deleteRoomBooking($event)"></app-view-room-booking>
  </div>
  <div class="col-12">
    <button type="button" class="btn btn-lg btn-outline-primary float-right" (click)="setBlankRoomBooking();openModal(addRoomBookingContent)">Add
      Room
      Booking</button>
  </div>
</div>
<div class="row mt-3">
  <div class="col-12">
    <app-view-food [orders]="foodOrders" (editButtonClicked)="editFoodOrder($event)" (deleteButtonClicked)="deleteFoodOrder($event)"></app-view-food>
  </div>
  <div class="col-12">
    <button type="button" class="btn btn-lg btn-outline-primary float-right" (click)="setBlankFoodOrder();openModal(addFoodOrder)">Add
      Food Order</button>
  </div>
</div>
<div class="row mt-3">
  <div class="col-12">
    <app-view-payment [payments]="payments" (editButtonClicked)="editPayment($event)" (deleteButtonClicked)="deletePayment($event)"></app-view-payment>
  </div>
  <div class="col-12">
    <button type="button" class="btn btn-lg btn-outline-primary float-right" (click)="setBlankPayment();openModal(addPayment)">Add
      Payment</button>
  </div>
</div>

<div class="row mt-5" *ngIf="bookingCodeId == 0">
  <div class="col-12">
    <button type="button" class="btn btn-primary float-right" [disabled]="roomBookings.length == 0 || users.length == 0 || isProcessingCreateBooking"
      (click)="createBooking()">Submit</button>
  </div>
</div>

<div class="row mt-5" *ngIf="bookingCodeId != 0">
  <div class="col-12">
    <a [routerLink]="['/printBill', bookingCodeId]" class="btn btn-primary float-right">Print Bill</a>
  </div>
</div>

<ng-template #userOperationContent let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Profile update</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <app-add-user [user]="newUser" (userOperationSuccess)="displayAddedUser($event)"></app-add-user>
  </div>
</ng-template>

<ng-template #addRoomBookingContent let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Add New Room Booking</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <app-add-room-booking [roomBooking]="newRoomBooking" (roomAddedSuccesfully)="displayAddedRoom($event)"></app-add-room-booking>
  </div>
</ng-template>

<ng-template #addPayment let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Add New Payment</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <add-payment [payments]="newPayment" (paymentAddedSuccesfully)="displayAddedPayment($event)"></add-payment>
  </div>
</ng-template>

<ng-template #addFoodOrder let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Add Food Order</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <app-add-food-order [foodOrder]="newFoodOrder" (foodOrderAddedSuccesfully)="displayAddedFoodOrder($event)"></app-add-food-order>
  </div>
</ng-template>