<table class="table">
        <thead>
            <tr>
                <th scope="col">Room Number</th>
                <th scope="col">Booking Start Date</th>
                <th scope="col">Booking End Date</th>
                <th scope="col">Amount</th>
                <th scope="col">GST</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let roomBooking of roomBookings">
                <td>{{roomBooking.roomRoomNumber}}</td>
                <td>{{roomBooking.bookingStartDate}}</td>
                <td>{{roomBooking.bookingEndDate}}</td>
                <td>{{roomBooking.amount}}</td>
                <td>{{roomBooking.gst}}</td>
                <td (click)="notifyEdit(roomBooking)"><fa-icon [icon]="faEdit"></fa-icon></td>           
                <td (click)="notifyDelete(roomBoking)"><fa-icon [icon]="faTrashAlt"></fa-icon></td>
            </tr>
            <tr>                
                <td></td>
                <td></td>
                <td></td>
                <td>{{totalAmount}}</td>
                <td>{{gstAmount}}</td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>