<table class="table">
    <thead>
        <tr>       
            <th scope="col">Payment Mode</th>
            <th scope="col">Details</th>
            <th scope="col">Amount</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let payment of payments">
            <td>{{payment.paymentModeId == 1 ? 'Cash' : (payment.paymentModeId == 2 ? 'Cheque' : (payment.paymentModeId == 3 ? 'Card' : (payment.paymentModeId == 4 ? 'Paytm' : 'Account Transfer')))}}</td>
            <td>{{payment.additionalDetails}}</td>
            <td>{{payment.amount}}</td>
            <td (click)="notifyEdit(payment)"><fa-icon [icon]="faEdit"></fa-icon></td>           
            <td (click)="notifyDelete(payment)"><fa-icon [icon]="faTrashAlt"></fa-icon></td>
        </tr>
        <tr>                
            <td></td>
            <td></td>            
            <td>{{totalAmount}}</td>
        </tr>
    </tbody>
</table>
