<table class="table">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Amount</th>
            <th scope="col">Payment Mode</th>
            <th scope="col">Details</th>
            <th scope="col">Booking Details Id</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let payment of payments">
            <td>{{payment.id}}</td>
            <td>{{payment.amount}}</td>
            <td>{{payment.paymentModeId}}</td>
            <td>{{payment.additionalDetails}}</td>
            <td>{{payment.bookingDetailsId}}</td>
            <td (click)="notifyEdit(payment)"><fa-icon [icon]="faEdit"></fa-icon></td>           
            <td (click)="notifyDelete(payment)"><fa-icon [icon]="faTrashAlt"></fa-icon></td>
        </tr>
    </tbody>
</table>
